.gradle

build

.idea
!.idea/gradle.xml

*.iml

venv/

spark-warehouse/

benchmark_results/

.DS_Store

repo.zip
emr_pyspark_files.zip
tpcds_queries.zip



*.swp
package-lock.json
__pycache__
.pytest_cache
venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

ecs_config.json
vpc_config.json
cdk_outputs.json

dags/helpers/copied/
!dags/helpers/copied/__init__.py
cdk/docker/aws_config.ini
src/main/python/config.py

*.log

tmp/

out/

gradle.properties
dist/